In [2]:
from __future__ import print_function
import csv
import requests
import sys
import os

import numpy as np
from numpy.random import randn
import pylab as pl

from pandas import Series, DataFrame
import pandas
import pandas as pd
import matplotlib

#Check that an environmental variable DFDATA exists and that it points to 
#the data facility location /gws/open/NYCOpenData/nycopendata/data/
PUIdata = os.getenv("PUIDATA")
print (PUIdata)
dataDirect = "/gws/open/NYCOpenData/nycopendata/data"
dataSource = dataDirect + "/h9gi-nx95/1448475295/h9gi-nx95"
print (dataDirect)
print (dataSource)

/home/cusp/fhl204/PUIdata
/gws/open/NYCOpenData/nycopendata/data
/gws/open/NYCOpenData/nycopendata/data/h9gi-nx95/1448475295/h9gi-nx95

In [ ]:
#Pull top 5 rows
df_dmv = pd.read_csv(dataSource)
df_dmv.head(n=5)

In [3]:
#Parse date and time
df_adate = pd.read_csv(dataSource, parse_dates=[['DATE','TIME']])
df_adate.head(n=5)

,DATE_TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2015-11-22 14:13:00,QUEENS,11369.0,40.763627,-73.881148,"(40.763627, -73.8811477)",25 AVENUE,88 STREET,NaN,1,...,Unspecified,NaN,NaN,NaN,3339739,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
1,2015-11-22 14:12:00,BROOKLYN,11212.0,40.663518,-73.902376,"(40.663518, -73.9023763)",POWELL STREET,LIVONIA AVENUE,NaN,0,...,Unspecified,NaN,NaN,NaN,3339506,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
2,2015-11-22 14:10:00,NaN,NaN,NaN,NaN,NaN,YELLOWSTONE BOULEVARD,AUSTIN STREET,NaN,0,...,Unspecified,NaN,NaN,NaN,3339708,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
3,2015-11-22 14:10:00,MANHATTAN,10018.0,40.750661,-73.987779,"(40.7506611, -73.9877793)",WEST 35 STREET,BROADWAY,NaN,0,...,Unspecified,NaN,NaN,NaN,3339267,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
4,2015-11-22 06:40:00,QUEENS,11420.0,40.665490,-73.819525,"(40.6654902, -73.8195255)",NORTH CONDUIT AVENUE,122 STREET,NaN,0,...,Unspecified,NaN,NaN,NaN,3339626,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN

In [ ]:
#Plot data
ax = df_adate.plot.bar(x='DATE_TIME', y='NUMBER OF PERSONS INJURED', rot=90)
ax.set_xlabel('Date')
ax.set_title("NY Number of Persons Injured from Vehicle Incidents")